.Sider {
  height: 100vh;
  background: url("https://github.com/camilopaez/cannabis-green-house/blob/features/frontend/green-house-client/src/assets/greenhouse.jpg?raw=true")
    center no-repeat;
  background-size: 100vw 100vh;
}

.Sign {
  height: 100vh;
  display: flex;
  align-items: space-around;
  padding: 3rem;
  justify-content: center;
  background: #fff;
}

.Logo {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: green;
}

.Logo:hover {
  transition: 0.3s;
  color: lightgreen;
}
